extends partials/templates/template.pug

block content
  +b.SECTION.contant-block
    .container
      .row.row--contact
        .col-xs-12.col-xl-3.second
          include partials/components/aside.pug
        .col-xs-12.col-xl-9.first
          include partials/components/catalog.pug