.header {
  padding: 35px 0 30px;
  .row {
    @include mq($from:xs, $until:xl){
      flex-direction: column;
    }
  }
  &__logo {
    width: 220px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit:contain;
    }
  }
  &__contact {
    color: #939393;
  }
  &__phone {
    font-size: 20px;
    color: #939399;
    text-decoration: none;
  }
  &__adress {
    font-size: 12px;
    margin-top: 0;
  }
  &__search-wrapper,
  &__btn-wrapper {
    flex: 0 0 50%;
    align-items: flex-end;
    @include mq($from:xs, $until:xl){
      padding-top: 10px;
    }
  }
  &__btn-wrapper {
    text-align: right;
  }
  &__input {
    // width: 160px;
    width: 85%;
    padding: 8px 0 8px 40px;
    outline: none;
  }
  &__form {
    position: relative;
    img {
      position: absolute;
      left: 7px;
      top: 10px;
    }
  }

  &__btn {
    display: inline-block;
    background-color: #e7a91a;
    font-size: 12px;
    padding: 10px 20px 10px 40px;
    margin-right: 15px;
    color: #fff;
    border-radius: 3px;
    position: relative;
    transition: .3;
    &:before {
      position: absolute;
      content: '';
      @include sprite($s-mail);
      left: 12px;
      bottom: 12px;
    }
    &:hover {
      background-color: #c4911a;
    }
    @include mq($from:xs, $until:xl){
      margin-top: 10px;
    }
  }
 &__overlay {
position: fixed;
top: 0;
left: 0;
z-index: 1;
width: 100%;
height: 100%;
display: none;
  }
}

.nav {
  &__list {
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin-left: 0px;
    display: flex;
    background-color: #686872;
    justify-content: space-around;
    @include mq($from:xs, $until:xl){
      flex-direction: column;
      display: none;
      position: absolute;
      top: 75px;
      width: 90%;
      z-index: 1000;
      flex: 0 0 auto;
    }
    &--visible {
      display: flex!important;
    }
  }
  &__item {
   text-align: center;
   flex: 1 0 auto;
   border-right: 1px solid #63636a;
   white-space: nowrap;
  transition: .3s;
    &:hover {
      background-color: #77777f;
    }
    &:last-child {
      border: none;
    }
    @include mq($from:xs, $until:xl){
      display: inline-block;
    }
  }
  &__link {
    color: #fff;
    padding: 25px 0;
    display: block;
    border-right: 1px solid #8d8d94;
    @include mq($from:xs, $until:xl){
      padding: 15px 0;
      border-bottom: 1px solid #8d8d94;
    }
  }
  &__hamburger {
    display: none;
    @include mq($from:xs, $until:xl){
      display: block;
    }
  }
}

 .hamburger {
  display: none;
  position: absolute;
  z-index: 1;
  top: 19px;
  right: 15px;
  display: flex;
  align-items: center;
  width: 3em;
  height: 3em;
  line-height: 3em;
  user-select: none;
    @include mq($from:xs, $until:xl){
      display: block;
    }

  > span {
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: .3rem;
    background: #626262;
    border-radius: .2rem;
    position: relative;
    transition: background .3s .5s;

    &:before,
    &:after {
      width: 100%;
      height: .3rem;
      background: #626262;
      border-radius: .2rem;
      position: absolute;
      left: 0;
      content: '';
      transform-origin: 50% 50%;
      transition: top .3s .6s, transform .3s;
    }

    &:before {
      top: 1rem;
    }

    &:after {
      top: -1rem;
    }
  }

  &--close {
    > span {
      transition: background .3s 0;
      background: transparent;

      &:before,
      &:after {
        transition: top .3s, transform .3s .5s;
        top: 0;
      }

      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}

.popup__bgr{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  background-color: rgba(0,0,0,.4);
  cursor: pointer;
}

.form--application{
  z-index: 100;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 10%;
  position: absolute;
  width: 425px;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  @include mq($from:xs, $until:xl){
    width: 280px;
  }
}
.form {
  &__input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    outline: none;
  }
  &__textarea {
    width: 100%;
    padding-left: 10px;
    outline: none;
    height: 70px;
  }
  &__text {
    text-transform: uppercase;
    color: #000;
    font-size: 24px;
  }
  .btn {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 60px;
    border-radius: 3px;
    transition: .3s;
    outline: none;
    border: none;
    background-color: #1abc9c;
    &:hover {
      background-color: #1b8b75;
    }
  }
}