include ../abstracts/bemto/bemto.pug

//Aside
+b.ASIDE.aside
  +e.link
    +e.A.btn(href="#") Генераторы
    +e.UL.accordion.none
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат
  +e.link
    +e.A.btn(href="#") Компрессоры передвижные
    +e.UL.accordion.none
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат
  +e.link
    +e.A.btn(href="#") Насосное обрудование
    +e.UL.accordion.active
      +e.LI.item
        a(href="card.html") Гидромолоты
      +e.LI.item
        a(href="card.html") Гидроножницы
      +e.LI.item
        a(href="card.html") Грейферные захваты
      +e.LI.item
        a(href="card.html") Измельчители
      +e.LI.item
        a(href="card.html") Уплотнители (Компакторы)
  +e.link
    +e.A.btn(href="#") Навесное обрудование
    +e.UL.accordion.none
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат
      +e.LI.item
        a(href="card.html") Сертификат промышленной безопасности
      +e.LI.item
        a(href="card.html") Сертификат промышленной безопасности