include ../abstracts/bemto/bemto.pug

//Card
+b.SECTION.card
  +b.breadcrumbs
    +e.A.link(href="index.html") Главная
    +e.A.link(href="catalog.html") Каталог
    +e.P.text Навесное оборудование
  +e.H1.title Контейнерный дизель-генератор QAC 800
  .row
    +e.contant
      +e.img
        img(src="img/page-img.jpg")
      +e.tabs
        +e.UL.tabs-list
          +e.LI.tabs-link.active
            a(href="#tab01") Описание и приемущества
          +e.LI.tabs-link
            a(href="#tab02") Технические характеристики
          +e.LI.tabs-link
            a(href="#tab03") Видео
        +e.tabs-content
          +e.tab-item.active(id="tab01")
            +e.H2.tab-title Описание
            +e.UL.list
              +e.LI.item Максимальная рабочая температура окружающей среды + 50°C
              +e.LI.item Минимальная температура гарантированного запуска -15°C (без подогревателя охлаждающей жидкости)
              +e.LI.item Минимальная температура гарантированного запуска с подогревателем охлаждающей жидкости -30°C (поставляется по заказу)
              +e.LI.item Максимальная высота эксплуатации над уровнем моря 4000 м
            +e.H2.tab-title Тут тоже должно быть описание:
            +e.UL.list
              +e.LI.item Сверхнизкий уровень шума
              +e.LI.item Сверхнизкий расход топлива — 0,209 кг/кВтч
              +e.LI.item Максимальное количество встроенных опций
            +e.P.discription Технические характеристики товара могут отличаться, уточняйте технические характеристики товара на момент покупки и оплаты. Вся информация на сайте о товарах носит справочный характер и не является публичной офертой в соответствии с пунктом 2 статьи 437 ГК РФ.
          +e.tab-item(id="tab02")
            +e.H2.tab-title Условия эксплуатации:
            +e.UL.list
              +e.LI.item Максимальная рабочая температура окружающей среды + 50°C
              +e.LI.item Минимальная температура гарантированного запуска -15°C (без подогревателя охлаждающей жидкости)
              +e.LI.item Минимальная температура гарантированного запуска с подогревателем охлаждающей жидкости -30°C (поставляется по заказу)
              +e.LI.item Максимальная высота эксплуатации над уровнем моря 4000 м
            +e.H2.tab-title Приемущества:
            +e.UL.list
              +e.LI.item Сверхнизкий уровень шума
              +e.LI.item Сверхнизкий расход топлива — 0,209 кг/кВтч
              +e.LI.item Максимальное количество встроенных опций
            +e.P.discription Технические характеристики товара могут отличаться, уточняйте технические характеристики товара на момент покупки и оплаты. Вся информация на сайте о товарах носит справочный характер и не является публичной офертой в соответствии с пунктом 2 статьи 437 ГК РФ.
          +e.tab-item(id="tab03")
            +e.H2.tab-title Тут тоже должно быть описание:
            iframe(src="https://www.youtube.com/embed/11WKxkRLmko" frameborder="0")
            +e.H2.tab-title Тут тоже должно быть описание:
            iframe(src="https://www.youtube.com/embed/0RoaGPFGRls" frameborder="0")
    +e.price
      +e.P.cost Цена:
        span По запросу
      +e.P.catalog Есть в наличии
      +e.A.btn(href="#") Купить