include ../abstracts/bemto/bemto.pug

//Contact
+b.SECTION.contact
  .row
    +e.map
      iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2255.0341242356862!2d38.13676331592401!3d55.584013980508544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414abf6bbf4e3d9b%3A0x9ec5b96793fd2e3e!2z0YPQuy4g0JDQvNC10YIt0YXQsNC9INCh0YPQu9GC0LDQvdCwLCAxNdC6Miwg0JbRg9C60L7QstGB0LrQuNC5LCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0LsuLCAxNDAxODU!5e0!3m2!1sru!2sru!4v1479050713822" frameborder="0" style="border:0" allowfullscreen)
    +e.info
      +e.P.company Компания Векпром является авторизованным дилером компании Атлас Копко.
      +e.P.adress г. Жуковский, ул. Амет-хан Султана, 15/2, корпус 2
      +e.phone-inner
        +e.P.tel Контактный телефон
        +e.A.phone(href="tel:84957446858") 8(495)744-68-58
      +e.A.mail(href="mailto:info@ac.tools") info@ac.tools
    .col-xs-12
      +e.H2.title Условия эксплуатации:
      +e.P.text Проведение ТО компрессоров и дизель-генераторов является обязательной частью в процессе эксплуатации оборудования. Вовремя проведенное ТО — гарантия долгой и бесперебойной работы машины!
      +e.P.text Во время ТО помимо замены жидкостей и фильтрующих элементов, нашими специалистами также производится диагностика, с помощью которой возможно предугадать или не допустить серьезной поломки главных узлов. Стоимость ремонта может обойтись в крупную сумму, в то время как техническое обслуживание составляет порядка 1-3% от стоимости устройства. Для каждого оборудования Atlas Copco существует свой регламент ТО. Для проведения данного мероприятия специально были созданы наборы для ТО, что упрощает подбор необходимых комплектующих.
      +e.P.text Сервис-инженеры нашей компании имеют большой опыт в ремонте и обслуживании дизельных генераторов, компрессоров, виброплит, вибротрамбовок. В случае возникновения у вас поломки или необходимости проведения планового ремонта или тех.обслуживания мы готовы в кратчайшие сроки выехать на ваш объект.