include ../abstracts/bemto/bemto.pug

//Promo

+b.SECTION.promo
  .container
    +e.title-wrapper
      +e.P.title сервисные услуги
    .row
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(src="img/generator.jpg" alt="generator" title="generator")
          +e.subtitle Генераторы
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(src="img/compressor.jpg" alt="compressor" title="compressor")
          +e.subtitle Компрессоры передвижные
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(src="img/attachments.jpg" alt="attachments" title="attachments")
          +e.subtitle Навесное  оборудование
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(src="img/equipment.jpg" alt="equipment" title="equipment")
          +e.subtitle Насосное  оборудованиe
      .col-xs-12
        +e.text-wrapper
          +e.P.text Строительный сегмент в нашей стране быстро развивается во всех направлениях. Хорошего профессионального инструмента и оборудования становится все больше. Наша компания старается быть в курсе всех новинок зарубежных производителей, для последующей презентации клиенту. Первочередная задача Векпром компании это в максимально сжатые сроки удовлетворить потребности строителя. Это может быть передвижной дизельный компрессор, дизельный генератор, затирочная машина или отбойные молотки.
          +e.P.text Промышленная группа Векпром осуществляет свою деятельность более 10 лет и зарекомендовала себя как надежный поставщик. Мы является официальным дилером Atlas Copco на территории Российской Федерации. Ежегодно наши специалисты проходят обучение за границей с целью повышения квалификации.