include ../abstracts/bemto/bemto.pug

//Promo

+b.SECTION.promo
  .container
    .row
      +e.P.title сервисные услуги
    .row
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(href="img/generator.jpg")
          +e.subtitle Генераторы
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(href="img/compressor.jpg")
          +e.subtitle Компрессоры передвижные
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(href="img/attachments.jpg")
          +e.subtitle Навесное  оборудование
      .col-xs-12.col-md-3
        +e.wrapper
          +e.img
            img(href="img/equipment.jpg")
          +e.subtitle Насосное  оборудованиe