include ../abstracts/bemto/bemto.pug

//Promo slider
+b.promo-slider
  +e.wrapper
    +e.img
      img(src="img/slider.jpg")
    +e.contant
      +e.inner
        +e.A.link(href="#") Электрические
          <br> компрессоры
      +e.inner
        +e.A.link(href="#") Оборудование для
          <br> грунта и асфальта
      +e.inner
        +e.A.link(href="#") Оборудование для
          <br> работ с бетоном
      +e.inner
        +e.A.link(href="#") Ручное гидравлическое
          <br> оборудование
  +e.wrapper
    +e.img
      img(src="img/slider.jpg")
    +e.contant
      +e.inner
        +e.A.link(href="#") Электрические
          <br> компрессоры
      +e.inner
        +e.A.link(href="#") Оборудование для
          <br> грунта и асфальта
      +e.inner
        +e.A.link(href="#") Оборудование для
          <br> работ с бетоном
      +e.inner
        +e.A.link(href="#") Ручное гидравлическое
          <br> оборудование
  +e.wrapper
    +e.img
      img(src="img/slider.jpg")
    +e.contant
      +e.inner
        +e.A.link(href="#") Электрические
          <br> компрессоры
      +e.inner
        +e.A.link(href="#") Оборудование для
          <br> грунта и асфальта
      +e.inner
        +e.A.link(href="#") Оборудование для
          <br> работ с бетоном
      +e.inner
        +e.A.link(href="#") Ручное гидравлическое
          <br> оборудование